<h2>Updating the post</h2>

<%= render 'form' %>

<div class="thumbnail" style="border:none;">
  <%= link_to 'Show', @found, class: 'btn btn-success' %>
  <%= link_to 'Back', founds_path, class: 'btn btn-info' %>
</div>
