<% if can? :create, Found %>
  <%= link_to new_found_path, class: 'btn btn-success' do %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"> Post New AD </span>
  <% end %>
<% end %>

<%= render @founds %><br>
<%= will_paginate %>
