<%= render @founds %>

<div class="thumbnail" style="border:none;">
  <%= will_paginate @founds, class: 'btn btn-info pull-right' %>
  <%= link_to 'Back', founds_path, class: 'btn btn-info pull-left' %>
</div>
