<div class="panel panel-default">
  <div class="panel-body">
    <h1>About Us !</h1>
    <p>AMIGO is an innovative, digital Lost And Found platform. It’s simply the quicker and more convenient way to get lost valuables or even pets back. By providing people and organisations with a powerful, easy-to-use and secure solution, we hope to turn previously frustrating into lucky and rewarding experiences for owners and finders. And there is a chance, you make new friends, too!</p>
  </div>
</div>
