
<div class="panel panel-default">
  <div class="panel-body">
    <p>Getting In Touch</p>

    <p>Please contact us by email: support@treehouse.co.uk </p>

    <p>Follow us on twitter to get the latest news:  </p>

      <p>Our Postal Address:</p>
      <p>White Boomerang Ltd</p>
      <p>PO Box 65900</p>
      <p>London</p>
      <p>N7 1DJ</p>
      <p>United Kingdom</p>
  </div>
</div>