<div class="panel panel-default">
  <div class="panel-body">

    <h1>TreeHouse Privacy Policy</h1>


    <p>Our Services instantly connect people everywhere to what’s most meaningful to them. Any registered user of the TreeHouse Services can review a show or a venue, which is a description of 300 characters or less that is public by default and can include other content like photos, videos, and links to other websites.</p>

    <p>Tip: What you say on the TreeHouse Services may be viewed all around the world instantly. You are what you Write!</p>

    <p>This Privacy Policy (“Policy”) describes how and when TreeHouse collects, uses and shares your information when you use our Services. TreeHouse receives your information through our various websites, SMS, APIs, email notifications, applications, buttons, widgets, ads, commerce services (the “TreeHouse Services”), and our other covered services that link to this Policy (collectively, the “Services”) and from our partners and other third parties. For example, you send us information when you use our Services on the web, via SMS, or from an application such as TreeHouse for Mac, TreeHouse for Android. When using any of our Services you consent to the collection, transfer, storage, disclosure, and use of your information as described in this Privacy Policy.</p>


    <p>If you live in the United States, your information is controlled by TreeHouse, Inc., 1355 Market Street, Suite 9000, San Francisco, CA 9410903 U.S.A. If you live outside the United States, the data controller responsible for your information is TreeHouse International Company, an Irish company with its registered office at The Academy, 658987 Pearse Street, Dublin 2, Ireland. Irrespective of which country you reside in or supply information from, you authorize TreeHouse to use your information in the United States, Ireland, and any other country where TreeHouse operates.</p>
  </div>
</div>