<div class="panel panel-default">
  <div class="panel-body">
    <ul>TOP TIPS TO FIND A LOST PET (As for an example)
      <li>Post an AD with as much description as possible.</li>
      <li>Place a listing on petsonthenet.co.nz, including a picture if possible, and make sure to check the website "Found Pets" section daily.</li>
      <li>Distribute flyers to your neighbours and the surrounding streets.</li>
      <li>Turn to social media - post a lost cat notice on Neighbourly.co.uk or post a message on animal welfare/rescue pages such as https://www.gov.uk/guidance/animal-welfare.</li>
      <li>Place a classified advertisement in your local paper and its website.</li>
      <li>Ask local schools to put a message in their newsletters.</li>
      <li>Put up posters at bus stops, libraries and local shops.</li>
      <li>Keep your search broad - you never know how far your moggy or doggy might have travelled.</li>
      <li>Don't give up - some pets have been found more than a year after they first went missing.</li>
  </div>
</div>