<% if can? :create, Lost %>
  <%= link_to new_lost_path, class: 'btn btn-success' do %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"> Post New AD </span>
  <% end %>
<% end %>

<%= render @losts %>


<div class="thumbnail" style="border:none;">
  <%= will_paginate @losts, class: 'btn btn-info pull-right' %>
  <%= link_to 'Back', losts_path, class: 'btn btn-info pull-left' %>
</div>






