

<%= render @losts %>


<div class="thumbnail" style="border:none;">
  <%= will_paginate @losts, class: 'btn btn-info pull-right' %>
  <%= link_to 'Back', losts_path, class: 'btn btn-info pull-left' %>
</div>


